#aboutScreen {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
    padding-bottom: 3rem;
  }

#center {
  width: 60%;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;


}

#aboutText {
  color: rgb(210, 210, 210);
  width: 60%;
  font-size: 16px;
  line-height: 1.6;
}

.link {
  color: #00FFFF;

}

.link:hover{
  color:rgb(210, 210, 210);
  transition: 300ms ease-in-out;
}


#imageDiv {
  border-radius: 100px;
  box-shadow: 5px 10px 0px 3px rgba(0,255,255,.5);
-webkit-box-shadow: 0x 0px 20px 3px rgba(0,255,255,0.5);
-moz-box-shadow: 0px 0px 20px 3px rgba(0,255,255,0.5);
    transition: 300ms ease-in-out;
  
}

#imageDiv:hover {
  border-radius: 100px;
  box-shadow: 10px 15px 0px 3px rgba(0,255,255,0.7);
-webkit-box-shadow: 0x 0px 20px 3px rgba(0,255,255,0.7);
-moz-box-shadow: 0px 0px 20px 3px rgba(0,255,255,0.7);
transform: scalex(1);
border-style: solid;
border-width: 1px;
border-color: #00FFFF;
  
}

@media screen and (max-width: 724px) 
 
{    
 
#center { flex-direction: column; width: 100%; } 
#aboutText { margin-top: 3rem; }
 
}