#contactScreen {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* background-color: aquamarine; */
  }

#contactMain {
    margin: 0px;
    font-size: 5rem;
    /* background-color: blue; */
}

#mainText {
  width: 60%;
  margin-bottom: 50px;
}

#contactTitle {
  font-size: 4rem;
}

#center {
  height: 400px;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#arrow {
  animation: slide1 1.5s ease-in-out infinite;
}

#arrow:hover {
  color: "#FF0000"
}

@keyframes slide1 {
  0%,
  100% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0px, 10px);
  }
}