#footer {
    position: relative;
    height: 50px;
    width: 280px;
    left: 20px;
    top: 350px;
    display: flex;
    justify-content: space-between;
}


@media screen and (min-width: 724px) 
 
{    
 
#footer { display: none; } 
 
}
