
#container {
	width: 40vw;
	height: 40vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 40%;
	left: 50%;
	border-radius: 50%;
	color: white;
	z-index: 1000;
	transform: translateX(-50%);
	
}

#glowSecond {
	transform: translate(-16.5%, -16.5%);
	position: absolute;
	content: "";
	border-radius: 50%;
	z-index: 2000;
	height: 50%;
	width: 50%;
	opacity: 0.5;
	background-color: #b0ff93; 
	filter: blur(100px);

}


#glowFirst {
	transform: translate(16.5%, 16.5%);
	position: absolute;
	content: "";
	border-radius: 50%;
	z-index: 1005;
	height: 50%;
	width: 50%;
	opacity: 0.5;
	background-color: #00ffff;
	filter: blur(100px);
}