/* 

body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	overflow: hidden;

} */

#container {
	width: 40vw;
	height: 60vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 200px;
	left: 500px;
	border-radius: 50%;
	color: white;
	z-index: 1000;
}

#glowSecond {
	transform: translate(-16.5%, -16.5%);
	position: absolute;
	content: "";
	border-radius: 50%;
	z-index: 2000;
	height: 110%;
	width: 110%;
	opacity: 0.5;
	background-color: #3c5732; 
	filter: blur(80px);

}


#glowFirst {
	transform: translate(16.5%, 16.5%);
	position: absolute;
	content: "";
	border-radius: 50%;
	z-index: 1005;
	height: 110%;
	width: 110%;
	opacity: 0.5;
	background-color: #00ffff;
	filter: blur(80px);
}