#outer {
    width: 23%;
    height: 100%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#inner {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

#name {
    font-size: 20px;
    font-weight: 500;
    margin-left: 10px;
    /* font-family: 'Courier New', Courier, monospace; */
}

@media screen and (max-width: 724px) 
 
{    
 
#outer { display: none; } 
 
}