#nameScreen {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

#inner {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#name {
    text-align:center;
    display: center;
    justify-content: center;
    margin: 0px;
    font-size: 5rem;
}

#subtitle {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 3px;
    text-align:center;
    font-size: 1.5rem;
    margin-bottom: 50px;
    /* background-color: blueviolet; */
}

#mouse {
    margin-top: 50px;
    position: relative;
    width: 35px;
    height: 55px;
    border: 1px solid grey;
    border-radius: 50px;

}

#mouse:after {
    position: absolute;
    top: 20px;
    width: 5px;
    height: 10px;
    content: "";
    background-color: #FFF;
    border-radius: 5px;
    left: calc(50% - 2.5px);
    animation: mouse 2s infinite;

}

@keyframes mouse {
    0% {
        opacity: .8;
        top: 10px;
    }
    100% {
        opacity: 0;
        top: 30px;
        background-color: #00FFFF;
    }
}

@media screen and (max-width: 700px) {
    #name {
      font-size: 3rem;
    }
    #subtitle {
        font-size: 1rem;
    }
  }


  
