#navBar {
    /* position: fixed;
    z-index: 10;
    width: 100%; */
    background-color: #1a191d;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 80px;

}

#menu {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    justify-self: center;
}


#menu > * {
    font-family: 'Courier New', Courier, monospace;
}

.links {
    margin: auto;
    color: white;
    cursor: pointer; 

}

.links:after {
    display: block;
    content: "";
    border-bottom: solid 1px #00FFFF;
    padding-bottom: 2%;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}

.links:hover:after {
    transform: scalex(1);
}