#projectsScreen {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #container {
    margin-top: 50px;
    width: 80vw;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;

  }


  .card {

    transition: transform 250ms;
    height: 400px;
    width: 300px;
    background-color: #2a292f;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

  }

  .card:hover {
    transform: translateY(-5px);
    
  }

  .image {
    filter: grayscale(0.80);
    transition: 200ms ease-in-out;
  }

  .image:hover {
    filter: grayscale(0);
  }

  .titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 30px;
    padding-top: 10px;

  }

  .titleContainer > * {
    margin: 0;
    margin-left: 10px;

  }

  .title {
    /* transition: 300ms ease-in-out;
    position: relative; */
    color: #00FFFF;
    font-style: oblique;
    font-weight: 500;
    font-size: larger;


  }


  .github {
    transition: 300ms ease-in-out;
    position: relative;
    
  }

  .description {
    margin-left: 10px;
    color: rgb(210, 210, 210);

  }


  #featured {
      border-radius: 10px;
      width: 75%;
      height: 400px;
      /* background-color: crimson; */
      display: flex;
      justify-content: flex-end;
      position: relative;
  }


  .featuredImage {
    position: absolute;
    box-shadow: 4px 13px 30px 1px rgba(0, 251, 255, 0.2);
    border-radius: 20px;
    filter: grayscale(0.80);
    transition: 300ms ease-in-out;
    left: 100px;
    top: 65px;
    z-index: 100;

  }

  .featuredImage:hover {
    filter: grayscale(0);

  }

  .featuredTitle {
    color: white;
  }

  .featuredTechnologies {
    color: #00FFFF;
    font-style: oblique;
    font-weight: 500;
  }

  .featuredSwiper {
    width: 100%;
    height: 100%;

  }

  .featuredContainer {
    right: 100px;
    width: 70%;
    height: 90%;
    right: 50px;
    border-radius: 20px;
  }

  .featuredDescription {
    border-radius: 20px;
    position: relative;
    left: 200px;
    z-index: 0;
    width: 50%;
    height: 90%;
    padding: 0px 60px 0px 60px;

  }

  .featuredStatic {
    position: absolute;
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
    width: 80%;
    height: 400px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
  }

  .featuredText {
    line-height: 1.2;
  }

  .swiperSlide {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* top: 0px; */
    height: 100%;
    /* background-color: aquamarine; */
  }


@media screen and (max-width: 724px) 
 
{    
 
#featured { display: none; } 

 
}

@media screen and (min-width: 724px) 
 
{    
 
#featuredSmall { display: none; } 

 
}
