#projectsScreen {
    min-height: 100vh;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  #container {
    width: 70vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

  }


  .card {
    transition: transform 250ms;
    height: 65%;
    width: 30%;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;

  }

  .card:hover {
    transform: translateY(-5px);
    
  }

  .image {
    filter: grayscale(0.80);
    transition: 200ms ease-in-out;
  }

  .image:hover {
    filter: grayscale(0);
  }

  #title {
    transform: translateY(-100%)
  }

  #title:hover {
    transition: 300ms ease-in-out;
  }


  #featured {
      border-radius: 10px;
      width: 75%;
      height: 400px;
  }


  .featuredImage {
    position: relative;
    border-radius: 20px;
    filter: grayscale(0.80);
    transition: 300ms ease-in-out;
    left: 100px;
    z-index: 1;

  }

  .featuredImage:hover {
    filter: grayscale(0);
  }

  .featuredTitle {
    color: white;
  }

  .featuredTechnologies {
    color: #00FFFF;
    font-style: oblique;
    font-weight: 500;
  }

  .featuredSwiper {
    width: 100%;
    height: 100%;
  }

  .featuredDescription {
    border-radius: 20px;
    background-color: rgb(31, 31, 31);
    position: relative;
    right: 50px;
    z-index: 0;
    width: 55%;
    height: 90%;
    padding: 30px 80px 30px 80px;
  }

  .featuredText {
    line-height: 1.2;
  }

  .swiperSlide {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }