#sidebar {
    position: fixed;
    height: 250px;
    width: 50px;
    left: 20px;
    top: 32vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links {
    margin: auto;
    color: white;
    cursor: pointer;    
    -webkit-transition: color .3s ease-in-out;
    -moz-transition: color .3s ease-in-out;
    -ms-transition: color .3s ease-in-out;
    -o-transition: color .3s ease-in-out;
    transition: .3s ease-in-out;

}

.links:hover {
    color: #00FFFF;
    transform: translateY(-3px);
}

@media screen and (max-width: 724px) 
 
{    
 
#sidebar { display: none; } 
 
}
